body, html {
    background-color: #123342;
    font-family: 'Alata', sans-serif;
    font-size: 1.3rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-index {
    background-color: #123342;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    
}


.main-navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
    height: 64px;
    width: 98vw;
    left: 0px;
    top: 0px;
    margin: 10px 20px;
}

.svg-build-circle{
    height: 52px;
    width: 52px;
}

.container-menu-navbar{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 23.14px;
}

.btn-primary{
    border: 3px solid #20DBCC;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    color: #20DBCC;
}

.link-navbar {
    color: #20DBCC;
    text-decoration: none;
    position: relative;
    top: 0px;
    transition: top 0.2s;
}

.link-navbar:hover{
    color: #17A19E;
    -webkit-text-stroke: 1px #20DBCC;
    top: -5px;
    transition: top 0.2s;
}

.btn-link-navbar{
    position: relative;
    top: 0px;
    transition: top 0.2s;
}

.btn-link-navbar:hover{
    color: #17A19E;
    -webkit-text-stroke: 1px #20DBCC;
    position: relative;
    top: -5px;
    transition: top 0.2s;
}

.crane-box{
    position: absolute;
    top: 14%;
    max-width: 1292px;
    left: 0px;
}

.box-hooked-1{
    position: absolute;
    top: calc(14% + 57px);
    left: 0px;
    animation: box-moving 15s linear 0s infinite backwards;
}

.box-hooked-2{
    position: absolute;
    top: calc(14% + 57px);
    left: 0px;
    animation: box-moving 15s linear 3s infinite backwards;
}

.box-hooked-3{
    position: absolute;
    top: calc(14% + 57px);
    left: 0px;
    animation: box-moving 15s linear 6s infinite backwards;
}

.agriculture-truck-1{
    position: absolute;
    top: calc(100vh - 209px);
    left: 0px;
    transform-style: preserve-3d;
    animation: truck-moving 15s linear 1.5s infinite backwards;
}

.agriculture-truck-2{
    position: absolute;
    top: calc(100vh - 209px);
    left: 0px;
    transform-style: preserve-3d;
    animation: truck-moving 15s linear 4.5s infinite backwards;
}

.agriculture-truck-3{
    position: absolute;
    top: calc(100vh - 209px);
    left: 0px;
    transform-style: preserve-3d;
    animation: truck-moving 15s linear 7.5s infinite backwards;
}

.main-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 10vw;
    margin: auto;
    top: 40vh;
}

.subtext-container{
    display: flex;
    flex: row;
    justify-content: space-between;
    max-width: 1100px;
}

.phrase-and-logo{
    display: flex;
    align-items: center;
}

.text-primary{
    color: #20DBCC;
}

.main-text-1{
    font-size: 48px;
}

.main-text-2{
    font-size: 67px;
}

.main-text-3{
    font-size: 52px;
    margin-right: 10px;
}



@keyframes box-moving {
    0% {
        top: calc(14% + 57px);
        left: -150px;
    }
    30% {
        top: calc(14% + 57px);
        left: calc(1292px - 100px);
        transform: rotate(6deg);
    }
    34%{
        top: calc(14% + 57px);
        left: calc(1292px - 100px);
        transform: rotate(-8deg);
    }
    36%{
        top: calc(14% + 57px);
        left: calc(1292px - 100px);
        transform: rotate(-8deg);
    }
    38%{
        top: calc(100vh - 175px);
        left: calc(1292px - 100px);
        transform: rotate(-90deg);
    }
    43%{
        transform: rotate(-90deg);
        left: calc(1292px - 100px);
    }
    78.3%{
        transform: rotate(-90deg);
        left: -150px;
    }
    100%{
        top: calc(100vh - 175px);
        transform: rotate(-90deg);
        left: -150px;
    }
}

@keyframes truck-moving {
    0% {
        left: -300px;
    }
    19.8% {
        left: calc(1292px - 300px);
        transform: rotateY(0deg);
    }
    22.44% {
        transform: rotateY(180deg);
        left: calc(1292px - 270px);
    }
    32.2% {
        -webkit-transform: rotateY(180deg);
        left: calc(1292px - 270px);
    }
    66.33% {
        left: -280px;
        transform: rotateY(180deg);
    }
    100% {
        left: -280px;
        -webkit-transform: rotateY(180deg);
    }
}

